<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>

    <style>
body {
margin: 0px;
  background-image: url("https://i.ibb.co/xg4RSwf/Picsart-24-01-12-15-20-44-420.jpg")
}

.op {
  display: flex;
  align-items: center;
  background-color: #292626;
  margin: auto;
  padding: 20px;
  border: 2px solid #000;
}

.op h1 {
  margin-bottom: 20px;
  color: white;
}

.op a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.op a:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .op {
    width: 90%;
    padding: 10px;
    text-align: left;
    max-width: none;
  }
}

    </style>
</head>
<body>
    <div class="op">
        <h1>Pagina de Inicio de redireccion</h1>
        <a href="/clientes">Pagina Clientes</a>
        <a href="/admin">Pagina Administrador</a>
    </div>
    


<script>
    document.querySelectorAll('a').forEach(link => {
  link.style.display = 'inline-block';
  link.style.padding = '10px 20px';
  link.style.margin = '10px';
  link.style.textDecoration = 'none';
  link.style.color = '#fff';
  link.style.backgroundColor = '#007bff';
  link.style.border = '2px solid #007bff';
  link.style.borderRadius = '5px';
  link.style.transition = 'background-color 0.3s, color 0.3s';

  link.addEventListener('mouseover', () => {
    link.style.backgroundColor = '#0056b3';
    link.style.color = '#fff';
  });

  link.addEventListener('mouseout', () => {
    link.style.backgroundColor = '#007bff';
    link.style.color = '#fff';
  });
});
</script>

</body>
</html>