<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
     body{
      background-image: url(https://i.ibb.co/xg4RSwf/Picsart-24-01-12-15-20-44-420.jpg);
     }

      .op {
  display: flex;
  align-items: center;
  background-color: #24262b;
  margin: auto;
  padding: 20px;
  border: 2px solid #000;
}

.op h1 {
  margin-bottom: 20px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}


.op a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;

}

@media screen and (max-width: 332px) {
        h1 {
          color: #fff;
          font-family: 'Times New Roman', Times, serif;
          margin-left: -20px;
        }
        
        }


        @media screen and (max-width: 332px) {
          body {
            background-image: url("https://thumbs.dreamstime.com/z/patr%C3%B3n-transparente-de-juguetes-para-ni%C3%B1os-ilustraci%C3%B3n-vector-fondo-beb%C3%A9-y-ni%C3%B1as-dise%C3%B1o-tejido-desde-el-icono-l%C3%ADnea-232241634.jpg")
        }
        }

        @media screen and (max-width: 940px) {
          body {
            background-image: url("https://thumbs.dreamstime.com/z/patr%C3%B3n-transparente-de-juguetes-para-ni%C3%B1os-ilustraci%C3%B3n-vector-fondo-beb%C3%A9-y-ni%C3%B1as-dise%C3%B1o-tejido-desde-el-icono-l%C3%ADnea-232241634.jpg")
        }
        }
        




    </style>
</head>
<body>
    <div class="op">
        <h1 class="text-center">Pagina de Inicio de redireccion</h1>
        <div class="d-flex justify-content-center">
            <div class="btn-group">
                <a href="/clientes" class="btn btn-primary">Pagina Clientes</a>
                <a href="/admin" class="btn btn-primary">Pagina Administrador</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const btnGroup = document.querySelector('.btn-group');

        function toggleButtonGroup() {
            if (window.innerWidth <= 332) {
                btnGroup.classList.add('btn-group-vertical');
            } else {
                btnGroup.classList.remove('btn-group-vertical');
            }
        }

        window.addEventListener('load', toggleButtonGroup);
        window.addEventListener('resize', toggleButtonGroup);
    </script>
</body>
</html>
